<footer>
  <div>
    <div>
      Sju G. Thorup
      <br />
      {{footer.phoneLabel[locale]}} 60 60 47 11
      <br />
      {{footer.emailLabel[locale]}} sju at xpqf . com
    </div>
    <div>
      xpqf aps
      <br />
      {{footer.cvrLabel[locale]}} {{company.cvr[locale]}}
      <br />
      {{company.address[locale]}}
    </div>
  </div>
</footer>