<ul>

  {%- for menuPageKey in site.menuPageKeyList -%}
    {%- if pagekey == menuPageKey -%}
      {% assign activeClass = "active" %}
    {%- else -%}
      {% assign activeClass = "" %}
    {%- endif -%}
    {%- for otherPage in collections.page -%}
      {%- if otherPage.data.pagekey == menuPageKey and otherPage.data.locale == locale -%}
        {% assign menuPage = otherPage %}
      {%- endif -%}
    {%- endfor -%}

    <li>
      <a class="{{activeClass}}" href="{{menuPage.url}}">
        {{menuPage.data.title}}
      </a>
    </li>

  {%- endfor -%}

  {% include selector/language.html %}

</ul>