<!doctype html>
<html lang="{{locale}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{site.description[locale]}}">
  <title>{{site.title}}</title>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" />
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <script type="text/javascript">
    {% include lib.js %}
  </script>
</head>
<body>
  {% include header.html %}
  <main>
    <article>
      {{ content }}
    </article>
  </main>
  {% include footer.html %}
</body>
</html>