<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex" />
  <title>Redirecting to: {{ destination }}</title>
  <script type="text/javascript">
    window.location.href = '{{ destination }}';
  </script>
</head>
<body>
  <a href="{{destination}}">{{destination}}</a>
</body>
</html>