{%- for language in site.languageList -%}
  {% assign languagePageUrl = "/" + language.locale %}
  {%- if locale == language.locale -%}
    {% assign activeClass = "active" %}
  {%- else -%}
    {% assign activeClass = "" %}
  {%- endif -%}
  {%- for otherPage in collections.page -%}
    {%- if otherPage.data.pagekey == pagekey and otherPage.data.locale == language.locale -%}
      {% assign languagePageUrl = otherPage.url %}
    {%- endif -%}
  {%- endfor -%}

  <li>
    <a class="{{activeClass}}" href="{{languagePageUrl}}" onclick="saveLocale('{{language.locale}}')">
      <img title="{{language.label}}" src="{{language.icon}}im" />
    </a>
  </li>

{%- endfor -%}
