<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex" />
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" />
  <script type="text/javascript">
    {% include lib.js %}
    var savedLocale = getLocale();
    var language = savedLocale || navigator.language || navigator.userLanguage;
    var origin = window.location.origin;
    switch (language) {

      {%- for language in site.languageList -%}

      case '{{language.locale}}':
        window.location.href = origin + "/{{language.locale}}";
        break;

      {%- endfor -%}

      default:
        window.location.href = origin + "/en";
        break;
    }
  </script>

</head>

 <body>

{% comment %} 

The root index.html file will be visited by search engine crawlers,
so we make sure to link to all language versions of the site.

{% endcomment %}

<ul>

{%- for language in site.languageList -%}

<li><a href="/{{language.locale}}">{{language.label}}</a></li>

{%- endfor -%}

</ul>

</body>